{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'business.css' %}">
</head>
<body>
    {% if data %}
    <nav id="nav_bar">
        
        <li><img src="{% static 'images/logo1.png' %}" alt="Logo" id="logo_img"></li>
        <li>
        {% for i in data %}
            <a href="{% url 'category:business_cateogries' i.id %}">{{ i.category_name }}</a>
        {% endfor %}
        </li>
    </nav>
    {% endif %}
    <img src="{% static 'images/business.png' %}" alt="" id="main_img">
    <br><br>
    {% for i in data %}
    <div id="container">
        <a href="{% url 'category:business_cateogries' i.id %}">
            <img src="{{ i.pic.url }}" alt="category_pic" id="sub_img"></a>
            <h1 id="sub_cat">{{ i.category_name }}</h1>
    </div>
    
{% endfor %}
<div id="div1">
    <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h3>About Us</h3>
                <p>We provide high-quality home interior solutions tailored to your style and budget.</p>
            </div>
            <div class="footer-section">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="{% url 'app:home' %}">Home Interiors</a></li>
                    <li><a href="{% url 'app:business' %}">Business Interiors</a></li>
                    <li><a href="{% url 'category:contactus' %}">Contact</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Contact Us</h3>
                <p>Email: haritha@yhomeinteriors.com</p>
                <p>Phone: +91 98765 43210</p>
                <p>Address: Hyderabad, India</p>
            </div>
            <div class="footer-section">
                <h3>Follow Us</h3>
                <a href="https://www.instagram.com" target="_blank">
                    <i class="fab fa-instagram"></i> Instagram
                </a>
                <br>
                <a href="https://www.facebook.com" target="_blank">
                    <i class="fab fa-facebook"></i> Facebook
                </a>
                <br>
                <a href="https://www.twitter.com" target="_blank">
                    <i class="fab fa-twitter"></i> Twitter
                </a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 Home Interiors. All Rights Reserved.</p>
        </div>
    </footer>
</div>
</body>
</html>
